
body {
    background: repeating-linear-gradient(
    90deg,
    #bdc5f8,
    #bdc5f8 25px,
    #ffffff 25px,
    #ffffff 50px
    );
    margin: 0;
    height: 100vh;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: grid;
    grid-gap: 15px;
    grid-template-areas: 
    "header"
    "hero"
    "body"
    "footer"
    }
header{
    background: yellowgreen;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    border: 2px solid darkgreen;
    opacity: .8;
    grid-area: header;
    grid-template-areas:
    "brand brand"
    "nav tools";
    }
header .brand {
    background: yellow;
    grid-area: brand;
    }
header nav {
    background: yellow;
    grid-area: nav;
    }
header .tools {
    background: yellow;
    grid-area: tools;  
    }
.hero {
    background:yellowgreen;
    padding:15px;
    display: grid;
    grid-area: hero;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    border: 2px solid darkgreen;
    opacity: .8;
    grid-template-areas:
    "action";
    }
.hero .action {
    background: yellow;
    grid-area: action;
    }
.hero .feature {
    background: yellow;
    grid-area: feature;
    }
main {
    background: yellowgreen;
    border: 2px solid darkgreen;
    opacity: .9;
    padding: 15px;
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    grid-template-areas:
    "feature"
    "ad"
    "listing";
    }
main .feature{
    background: yellow;
    grid-area: feature;
    }
main .smalladd {
    grid-area: ad;
    }
main .listing {
    background: yellow;
    grid-area: listing;
    }
footer {
    background: yellowgreen;
    border: 2px solid darkgreen;
    opacity: .8;
    padding: 15px;
    grid-area: footer;
    }
.ad {
    grid-area: ad;
    display: none;
    }
.hero .feature {
    display:none;
}
.sidebar {
    background:yellowgreen;
    border: 2px solid darkgreen;
    opacity: .8;
    padding: 15px;
    grid-area: sidebar;
    display:none;
    }
.sidebar .feature {
    background: yellow;
    height:100%
    }
.smallad img{
    vertical-align: top;
    width: 100%;
    }
.ad img{
    vertical-align: top;
    width: 300px;
    }
.smallad:hover{
    opacity: 0.5;
    }
.ad:hover{
    opacity: 0.5;
    }
@media (min-width: 576px){
    body{
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas: 
        "header"
        "hero"
        "body"
        "sidebar"
        "footer";
        }
    header{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: 
        "brand nav tools";
        }
    .hero {
        grid-template-areas: 
        "feature" 
        "action";
        }
    .hero .feature {
        display: block;
        }
    main {
        grid-template-columns: 1fr 250px;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "feature ad"
        "listing listing";
        }
    .sidebar {
        display: grid;
        }
    .smallad img {
        width: 150px;
    }
}
@media (min-width: 992px){
    body {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
        "header header"
        "hero ad"
        "body sidebar"
        "footer footer";
        }
    
    .hero{
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "feature action";
        }
    main{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "feature listing";
        }
    .smallad{
        display: none;
        }
    .ad {
        display:block;
        }
    }